# project details used in logging and swagger
PROJECT_NAME=
PROJECT_DESC=

# Base Url of deployment server
BASE_URL=

# Port on which express server is to run
PORT=

# Connection URI for mongo instance
CONNECTION_URI=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Mail
SENDER_MAIL=
SENDER_PASSWORD=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Session
SESSION_EXPIRY=86400