<footer class="bg-neutral-50">
    <div class="mx-auto grid max-w-screen-xl gap-y-8 gap-x-12 px-4 py-10 md:grid-cols-2 xl:grid-cols-4 xl:px-10">
      <div class="max-w-sm">
        <div class="mb-6 flex h-12 items-center space-x-2">
          <span class="text-2xl font-bold">Express <span class="text-indigo-600">Dairy</span>.</span>
        </div>
        <div class="text-neutral-500">Pioneering quality dairy products – delivering freshness, reliability, and unmatched taste!</div>
      </div>
      <div class="">
        <div class="mt-4 mb-2 font-medium xl:mb-4">Address</div>
        <div class="text-neutral-500">
            Bhupen Roy Road, <br/>
            Indrajit Pally,<br/>
            Behala, Kolkata,<br/> 
            West Bengal - 700034
        </div>
      </div>
      <div class="">
        <div class="mt-4 mb-2 font-medium xl:mb-4">Links</div>
        <nav aria-label="Footer Navigation" class="text-neutral-500">
          <ul class="space-y-3">
            <li><a class="hover:text-indigo-600 hover:underline" href="/">Home</a></li>
            <li><a class="hover:text-indigo-600 hover:underline" href="/about">About us</a></li>
            <li><a class="hover:text-indigo-600 hover:underline" href="/store">Store</a></li>
            <li><a class="hover:text-indigo-600 hover:underline" href="/faq">FAQs</a></li>
            <li><a class="hover:text-indigo-600 hover:underline" href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="">
        <div class="mt-4 mb-2 font-medium xl:mb-4">Subscribe to our Newsletter</div>
        <div class="flex flex-col">
          <div class="mb-4">
            <input type="email" class="focus:outline mb-2 block h-12 w-full rounded-md bg-white px-4 sm:w-80 focus:outline-none focus:ring-1 focus:ring-indigo-600" placeholder="Enter your email" />
            <button class="m-1 h-12 transform rounded-md bg-neutral-900 px-4 py-2 text-white transition-colors duration-200 focus:bg-neutral-700 focus:outline-none hover:bg-neutral-700 leading-7">Subscribe</button>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-neutral-100">
      <div class="mx-auto flex max-w-screen-xl flex-col gap-y-4 px-4 py-3 text-center text-neutral-500 sm:flex-row sm:justify-between sm:text-left">
        <div class="">© 2022 BelAir | All Rights Reserved</div>
        <div class="">
          <a class="" href="#">Privacy Policy</a>
          <span>|</span>
          <a class="" href="#">Terms of Service</a>
        </div>
      </div>
    </div>
  </footer>
  

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>